<header class="site-header">
  <h1 class="site-title">
    <a href="#">NUBER</a>
  </h1>
  <nav class="nav-wrap">
    <ul class="nav-list">
      <li><a href="#">首页</a></li>
      <li><a href="#">归档</a></li>
      <li><a href="#">标签</a></li>
      <li><a href="#">关于</a></li>
    </ul>
  </nav>
</header>
